@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common-Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 0 7%;
}

/* section-1 */

.container-1 {
    width: 1160;
    background-color: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-top: 50px;

}

.left-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 105px;
    padding-right: 50px;

}

.left-half h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3em;
    color: #FFFFFF;
}

.left-half p {
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
    color: #FFFFFF;
    margin: 20px 0 30px 0;
}

.left-half a {
    padding: 10px 20px;
    background-color: #DD0000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

.left-half a i {
    margin-left: 10px;
}

.right-half {
    margin: 35px 80px 0 0;
}

.right-half img {
    width: 100%;
    position: relative;
    vertical-align: bottom
}

/* Second section */

.container-2 {
    margin: 130px 0;
    display: flex;
}

/* sidebar styles */

.sidebar {
    width: 250px;
    height: 250px;
    background-color: #161616;
    padding: 0 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.sidebar li {
    height: 50px;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    transition: 0.1s;

}

.sidebar li:hover {
    outline: 3px solid #DD0000;
}

#active {
    background-color: #DD0000;
}

#active-text {
    color: #FFFFFF;
}

.sidebar li a {
    text-decoration: none;
    color: #000000;
    line-height: 50px;
    font-size: 14px;
    font-weight: 500;
}

/* upcoming matches */

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 30px;
}

.main-match-box {
    width: 260px;
    height: 200px;
    display: grid;
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
    transition: 0.1s;
}

.main-match-box:hover {
    box-shadow: 0px 0px 15px lightgray;
}

.sub-match-box {
    margin: auto;
}

.sub-match-box h4 {
    margin: 15px 0 5px 0;
}

.sub-match-box p {
    font-size: 12px;
}

.teams {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team img {
    width: 80%;
}

.vs {
    font-size: 14px;
    font-weight: 700;
}

.viewallbtn {
    display: none;
}

/* blogs */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 30px;
}

.main-blog-box {
    border: 1px solid #dedede;
    border-radius: 10px;
    transition: 0.1s;
}

.main-blog-box:hover {
    box-shadow: 0px 5px 15px lightgray;
}

.blog-ctgry {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #161616;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 4px 16px;
    color: #DD0000;

}

.blog-description {
    padding: 15px 20px;
}

.blog-description h4 {
    margin: 16px auto;
}

.responses a {
    text-decoration: none;
    padding-right: 5px;
    font-size: 14px;
    color: #161616;
}

.response-icons {
    color: #DD0000;
}

/* Footer */


.footer {
    height: 300px;
    background-color: #161616;
    display: grid;
}


.main-box {
    width: 75%;
    margin: auto;
    text-align: center;
}

.main-box h2 {
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
}

hr {
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.menu a {
    text-decoration: none;
    color: #B9B9B9;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
}

.menu a:hover {
    color: #DD0000;

}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    padding: 15px;
    font-size: 20px;
    color: #B9B9B9;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #DD0000;
}



/* Mobile responsiveness */

@media only screen and (max-width: 688px) {

    /* hero section */


    main {
        display: grid;
        padding-top: 20px;
    }

    .container-1 {
        width: 80%;
        margin: auto;
        padding: 50px 30px 0 30px;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 20px;
        text-align: center;

    }

    .left-half {
        margin: 0;
        padding: 0;
    }

    .left-half h1 {
        font-size: 1.5rem;
    }

    .left-half p span {
        display: none;
    }

    .right-half {
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }

    /* section-2 */

    .container-2 {
        flex-direction: column;
        margin: 50px 0;
        padding: 0;
        align-items: center;
    }

    aside {
        display: grid;
        margin-bottom: 50px;
    }

    .sidebar {
        background: none;
        margin: auto;
    }



    .sidebar li {
        border: 1px solid #161616;
    }

    #active {
        border: none;
    }

    .matches {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .viewallbtn {
        display: none;
    }

    /* footer */

    .footer {
        height: 600px;
        width: 100%;
    }

    .menu a {
        display: block;
    }
}

/* Tab Responsive */

@media only screen and (min-width: 689px) and (max-width: 992px) {

    /* hero section */


    main {
        display: grid;
        padding-top: 20px;
    }


    .left-half h1 {
        font-size: 1.6rem;
    }

    .left-half p span {
        display: none;
    }

    .right-half {
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }

    /* section-2 */

    .container-2 {
        flex-direction: column;
        margin: 50px 0;
    }

    aside {
        display: grid;
        margin-bottom: 50px;
    }

    .sidebar {
        width: 90%;
        height: 50%;
        background: none;
        margin: auto;
        flex-direction: row;

    }



    .sidebar li {
        border: 1px solid #161616;
        width: 180px;
    }

    #active {
        border: none;
    }

    .matches {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .main-match-box {
        margin: auto;
    }

    .viewallbtn {
        display: grid;
        margin: 60px 0;
    }

    .viewallbtn div {
        margin: auto;
    }

    .btn {
        padding: 10px 20px;
        background-color: #DD0000;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 400;
        color: #FFFFFF;
    }

    .btn i {
        margin-left: 15px;
    }

}

/* footer */

.footer {
    width: 100%;
}

}